@charset "utf-8";
/* CSS Document */

body {
	background-color:#000;
	color: #FFF;
	display:block;
	width:100%;
    text-align:center;
	position:relative;
}

#outer {
	width:100%;
	text-align:center;
}

#headerbox {
	min-width:1200px;
	width:1200 px;
	min-height:175px;
	display:inline-block;
}

nav {
    margin-top:50px;
}

#topLeftImage {
	position:relative;
	min-width:150px;
	min-height:150px;
	display:inline-block;
	margin-left:75px;
	margin-top:25px;
	float:left;
	
	
}

#AboutMe span {
	color:#00B2FF;
}

#tableHolder {
	display:inline-block;
	float:right;
	margin-top:75px;
	margin-right:75px;
	margin-left:280px;
	position:static;
}

#spacer {
	min-width:200px;
	display:inline-block;
}

.toolbar{
	margin-top: 0px;
	margin-left: 10px;
	margin-right: 10px;
	padding-left: 20px;
	padding-right: 20px;
    border-top:solid;
    border-width:2px;
    border-top-color:#00B2FF;
	display: inline-block;
	text-align: center;
	position: relative;	
	width:70px;
	cursor:pointer;
}

.toolbar[data-core="1"] {
	color:#00B2FF;
	font-weight:bold;
	border-width:5px;
	margin-top: 17px;
}


.main {
	background-color:#193941 ;
    width:800px;
    margin:auto;
   /* margin-top:25px;
    margin-bottom:15px;*/
    height:auto;
	clear:both;
	display:block;
    text-align:left;
    padding-left:15px;
    padding-right:5px;
	padding-top:5px;
	
}
#Projects img {
	margin:6px 6px 6px 6px;
	cursor:pointer;
}

#Projects img:hover {
	opacity:0.5;
}


#Projects{
	background-color:black;
	height:600px;
}


#bottom {
	clear:both;
}

#topSlide {
	position:relative;
	background-color:#193941 ;
}
#bottomSlide{
	position:relative;
	background-color:#193941 ;
}
.info {
	background-color:#193941 ;
	height:auto;
	display:inline-block;
	width: 500px;
	background-color:black;
	color:white;
	position:absolute;
	top:11px;
	right:0;
	padding: 0px 6px 6px 20px;
}

footer p {
	margin:0;
}

span{
	
	font-weight:bold;
}

span:hover {
	
	cursor:pointer;
	text-decoration:underline;
	
}

h6 {
	margin:2px;
}

iframe {
	margin:auto;
	display::block;
}

